---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: admiral
  name: admiral
  namespace: admiral
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admiral
  template:
    metadata:
      annotations:
        prometheus.io/path: "/metrics"
        prometheus.io/port: "6900"
        prometheus.io/scrape: "true"
      labels:
        app: admiral
    spec:
      serviceAccountName: admiral
      containers:
        - args:
            - --dependency_namespace
            - admiral
            - --secret_namespace
            - admiral
            - --sync_namespace
            - admiral-sync
            - --sync_period
            - 20s
            - --gateway_app
            - istio-eastwestgateway
          image: docker.io/admiralproj/admiral:latest
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /health/ready
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          name: admiral
          ports:
            - containerPort: 8080
              name: service
            - containerPort: 6900
              name: metrics
          resources:
            limits:
              cpu: 1
              memory: 2048M
            requests:
              cpu: 0.25
              memory: 256M

---