apiversion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: docker.io/admiralproj/admiral
    newTag: latest

resources:
  - crds.yaml
  - deployments.yaml
  - roles.yaml
  - role_bindings.yaml
  - service_accounts.yaml
  - services.yaml