version: 2.1
orbs:
  codecov: codecov/codecov@1.0.2
  kube-orb: circleci/kubernetes@0.11.1
jobs:
  build:
    working_directory: /go/pkg/mod/github.com/admiral
    docker:
    - image: circleci/golang:1.11
    steps:
    - checkout
    - run:
        name: Setting BRANCH, TAG & SHA variables
        command: |
          echo "export TAG=$CIRCLE_TAG" >> $BASH_ENV
          echo "export BRANCH=$CIRCLE_BRANCH" >> $BASH_ENV
          echo "export SHA=$CIRCLE_SHA1" >> $BASH_ENV
          source $BASH_ENV
    - run:
        name: Build
        command: |
          make build
    - run:
        name: Tests
        command: |
          make test
          mv c.out /tmp/
    - codecov/upload:
        file: /tmp/c.out
    - setup_remote_docker
    - run:
        name: Build Docker image
        command: |
          make docker-build
    - run:
        name: Publish Docker image
        command: |
          make docker-publish
    - persist_to_workspace:
        root: .
        paths:
          - .

  run-integration-tests:
    working_directory: /go/pkg/mod/github.com/admiral
    docker:
          - image: circleci/golang:1.11
    steps:
      - checkout
      - kube-orb/install
      - run:
          name: Setting BRANCH, TAG & SHA variables
          command: |
            echo "export TAG=$CIRCLE_TAG" >> $BASH_ENV
            echo "export BRANCH=$CIRCLE_BRANCH" >> $BASH_ENV
            echo "export SHA=$CIRCLE_SHA1" >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Spin up test cluster
          command:  |
            curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64 \
              && chmod +x minikube
            sudo mkdir -p /usr/local/bin/
            sudo install minikube /usr/local/bin/
            minikube start --memory=8192 --cpus=4 --kubernetes-version=v1.14.2
            export KUBECONFIG=~/.kube/config
      - run:
          name: Run Integration Test
          command:  |
            ./tests/run.sh "1.14.2" "1.4.3" "/go/pkg/mod/github.com/admiral/install"

  publish-github-release:
    docker:
    - image: circleci/golang:1.11
    working_directory: /go/pkg/mod/github.com/admiral
    steps:
    - attach_workspace:
        at: .
    - run:
        name: Generate output
        command: |
          make download-kustomize
          echo "export PATH=/go/pkg/mod/github.com/admiral:$PATH" >> $BASH_ENV
          source $BASH_ENV
          (cd "./install/admiral/overlays/demosinglecluster" && kustomize edit set image "docker.io/admiralproj/admiral=docker.io/admiralproj/admiral:${CIRCLE_TAG}")
          make gen-yaml
          mkdir ./artifact
          mkdir admiral-install-${CIRCLE_TAG}
          cp -R out/* admiral-install-${CIRCLE_TAG}
          tar -zcvf ./artifact/admiral-install-${CIRCLE_TAG}.tar.gz admiral-install-${CIRCLE_TAG}
    - run:
        name: Publish Release on GitHub
        command: |
          go get github.com/tcnksm/ghr
          ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${CIRCLE_TAG} ./artifact/


workflows:
  version: 2
  build-and-release:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - run-integration-tests:
          filters:
            tags:
              only: /.*/
      - publish-github-release:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
