---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: admiral
  namespace: admiral
spec:
  template:

    spec:
      containers:
        - args:
            - --dependency_namespace
            - admiral
            - --secret_namespace
            - admiral
            - --sync_namespace
            - admiral-sync
            - --sync_period
            - 20s
          name: admiral
