apiversion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: admiral

images:
  - name: docker.io/admiralproj/admiral
    newTag: v0.1-beta

bases:
  - ../../base

patchesStrategicMerge:
  - envconfig_values.yaml

resources:
  - ns.yaml


